aiohttp==3.8.4
aiosignal==1.3.1
amqp==5.1.1
anyio==3.6.2
asgiref==3.6.0
deprecation==2.1.0
distlib==0.3.6
Django==4.1.6
form==0.0.1
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.0.1
idna==3.4
multidict==6.0.4
packaging==23.1
pdf2image==1.16.3
Pillow==9.5.0
sqlparse==0.4.3
tqdm==4.64.1
tzdata==2023.3
urllib3==1.26.14
virtualenv==20.23.0
